$primary-blue-light: #0b6efd;
$primary-blue-dark: #0a4386;

$secondary-color-blue: #005eb8;

$color-grey-light: #717171;
$color-grey-dark: #666666;

$color-black: #101820;

$color-error: #CD2155;

$font-os: 'Open Sans', sans-serif;